<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>171000</key>
	<string>重复初始化</string>
	<key>171001</key>
	<string>无内存</string>
	<key>171002</key>
	<string>初始化时传入的回调函数结构体为空</string>
	<key>171003</key>
	<string>SDK未初始化</string>
	<key>171004</key>
	<string>无网络连接</string>
	<key>171030</key>
	<string>必须参数传参为空</string>
	<key>171031</key>
	<string>Sdk获取服务器列表文件失败</string>
	<key>171032</key>
	<string>重连超过最大允许时间段，强制退出,需要应用层主动调用login进行登录</string>
	<key>171033</key>
	<string>地址map插入错误</string>
	<key>171034</key>
	<string>地址map内容为空</string>
	<key>171035</key>
	<string>xml写字段空指针</string>
	<key>171036</key>
	<string>压缩附件失败</string>
	<key>171037</key>
	<string>解压缩附件失败</string>
	<key>171130</key>
	<string>必须参数传参为空</string>
	<key>171132</key>
	<string>编解码错误</string>
	<key>171137</key>
	<string>请求服务器时RESPONSE返回超时</string>
	<key>171139</key>
	<string>请求服务器失败，请检查网络状况</string>
	<key>171140</key>
	<string>请求服务器超时，请检查网络状况</string>
	<key>171141</key>
	<string>检测到连接中断，并进行了重连</string>
	<key>171142</key>
	<string>文本内容压缩或解压缩失败</string>
	<key>171143</key>
	<string>SDK重复登陆</string>
	<key>171144</key>
	<string>发送请求过于频繁</string>
	<key>171146</key>
	<string>用户获取在线状态请求过于频繁</string>
	<key>171147</key>
	<string>被踢下线</string>
	<key>171148</key>
	<string>强制下线</string>
	<key>171250</key>
	<string>必须参数传参为空</string>
	<key>171251</key>
	<string>建立socket失败或发送接收数据错误</string>
	<key>171252</key>
	<string>上传附件时返回http标准协议错误</string>
	<key>171253</key>
	<string>解析服务器响应错误</string>
	<key>171257</key>
	<string>创建或者打开文件错误</string>
	<key>171259</key>
	<string>应用层主动取消附件上传或者下载</string>
	<key>171260</key>
	<string>网络连接错误</string>
	<key>171261</key>
	<string>发送下载请求失败</string>
	<key>171262</key>
	<string>发送下载请求失败</string>
	<key>171263</key>
	<string>发送下载请求失败</string>
	<key>171264</key>
	<string>下载附件超时</string>
	<key>171500</key>
	<string>必须参数传参为空</string>
	<key>171504</key>
	<string>本地呼叫会话超时</string>
	<key>171505</key>
	<string>本地呼叫会话内部错误</string>
	<key>171506</key>
	<string>呼叫请求失败</string>
	<key>171507</key>
	<string>摄像头最大帧异常</string>
	<key>100</key>
	<string>连接中...</string>
	<key>200</key>
	<string>成功</string>
	<key>170001</key>
	<string>长度超过规定</string>
	<key>170002</key>
	<string>必选参数为空</string>
	<key>170003</key>
	<string>未登录</string>
	<key>170004</key>
	<string>发送消息失败</string>
	<key>170005</key>
	<string>正在录音，当前只能录制一个，请先停止</string>
	<key>170006</key>
	<string>录音超时，60秒长度</string>
	<key>170007</key>
	<string>录音已经停止，当前未录音调用停止录音</string>
	<key>170008</key>
	<string>录音时间过短，不超过1秒</string>
	<key>170011</key>
	<string>文件不存在</string>
	<key>170012</key>
	<string>传入的参数类型错误</string>
	<key>175004</key>
	<string>您的设备在其他地方登陆，被踢</string>
	<key>520016</key>
	<string>token认证失败</string>
	<key>529999</key>
	<string>鉴权服务器异常</string>
	<key>559999</key>
	<string>连接服务器异常</string>
	<key>590017</key>
	<string>已经加入在群组中</string>
	<key>580010</key>
	<string>发送文本被禁言</string>
	<key>560072</key>
	<string>不在该群组中</string>
	<key>560073</key>
	<string>发送附件被禁言</string>
	<key>590034</key>
	<string>用户加入群组数量超出限制 </string>
	<key>814028</key>
	<string>检测到与已有预约会议时间存在冲突  </string>
</dict>
</plist>
